-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: anahat_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `tbl_about`
--

DROP TABLE IF EXISTS `tbl_about`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_about` (
  `id` int(11) NOT NULL,
  `story_subheading` varchar(255) NOT NULL DEFAULT 'Origin Heritage & Sourcing Network',
  `story_heading` varchar(255) NOT NULL DEFAULT 'Bridging Indian Cultivation Belts With Global Markets & Commercial Kitchens',
  `story_content` longtext NOT NULL,
  `story_image` varchar(255) NOT NULL DEFAULT 'assets/img/commodities/hero-coffee-plantation-banner.jpg',
  `story_badge_exp` varchar(50) NOT NULL DEFAULT '15+',
  `story_badge_title` varchar(255) DEFAULT 'Dependable Sourcing Partner',
  `story_badge_subtitle` varchar(255) DEFAULT '15+ Years Origin Experience • Direct Cooperative Ties',
  `mission_heading` varchar(255) NOT NULL DEFAULT 'Our Strategic Mission',
  `mission_content` longtext NOT NULL,
  `mission_image` varchar(255) DEFAULT '',
  `vision_heading` varchar(255) NOT NULL DEFAULT 'Our Global Vision',
  `vision_content` longtext NOT NULL,
  `vision_image` varchar(255) DEFAULT '',
  `value1_title` varchar(255) NOT NULL DEFAULT 'Origin Authenticity & Traceability',
  `value1_desc` text NOT NULL,
  `value1_image` varchar(255) DEFAULT '',
  `value1_icon` varchar(100) DEFAULT 'fa-solid fa-seedling',
  `value2_title` varchar(255) NOT NULL DEFAULT 'Laboratory-Grade Batch Quality',
  `value2_desc` text NOT NULL,
  `value2_image` varchar(255) DEFAULT '',
  `value2_icon` varchar(100) DEFAULT 'fa-solid fa-microscope',
  `value3_title` varchar(255) NOT NULL DEFAULT 'Predictable Maritime Logistics',
  `value3_desc` text NOT NULL,
  `value3_image` varchar(255) DEFAULT '',
  `value3_icon` varchar(100) DEFAULT 'fa-solid fa-ship',
  `value4_title` varchar(255) NOT NULL DEFAULT 'Transparent Commercial Integrity',
  `value4_desc` text NOT NULL,
  `value4_image` varchar(255) DEFAULT '',
  `value4_icon` varchar(100) DEFAULT 'fa-solid fa-headset',
  `export_line_title` varchar(255) NOT NULL DEFAULT 'Bulk Agricultural Commodity Export Desk',
  `export_line_desc` text NOT NULL,
  `horeca_line_title` varchar(255) NOT NULL DEFAULT 'Hospitality & Café Supply Network',
  `horeca_line_desc` text NOT NULL,
  `stat_volume` varchar(50) NOT NULL DEFAULT '500+ MT',
  `stat_volume_label` varchar(100) NOT NULL DEFAULT 'Monthly Commodity Flow',
  `stat_ports` varchar(50) NOT NULL DEFAULT '18+',
  `stat_ports_label` varchar(100) NOT NULL DEFAULT 'Global Discharge Ports',
  `stat_lots` varchar(50) NOT NULL DEFAULT '100%',
  `stat_lots_label` varchar(100) NOT NULL DEFAULT 'Batch Traceable Lots',
  `stat_clients` varchar(50) NOT NULL DEFAULT '120+',
  `stat_clients_label` varchar(100) NOT NULL DEFAULT 'Commercial Buyers',
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `capabilities_subheading` varchar(255) DEFAULT 'Comprehensive Supply Capability',
  `capabilities_heading` varchar(255) DEFAULT 'From Indian Cultivation Belts to Commercial Kitchens',
  `capabilities_badge_title` varchar(255) DEFAULT 'Direct Agro-Commodity & HORECA Logistics',
  `capabilities_content` longtext DEFAULT NULL,
  `capabilities_image` varchar(255) DEFAULT 'assets/img/commodities/shipping-logistics-port.jpg',
  `capabilities_btn1_text` varchar(100) DEFAULT 'Browse Export Products',
  `capabilities_btn1_link` varchar(255) DEFAULT 'product-arabica.php',
  `capabilities_btn2_text` varchar(100) DEFAULT 'View HORECA Products',
  `capabilities_btn2_link` varchar(255) DEFAULT 'supply-coffee.php',
  `ind_subheading` varchar(255) DEFAULT 'Industries We Serve',
  `ind_heading` varchar(255) DEFAULT 'Tailored Procurement Across Two Core Sectors',
  `ind_desc` text DEFAULT NULL,
  `ind1_badge` varchar(100) DEFAULT 'International Trade Division',
  `ind1_title` varchar(255) DEFAULT 'Export Sector',
  `ind1_desc` text DEFAULT NULL,
  `ind1_clients` varchar(255) DEFAULT 'Importers, Distributors, Wholesalers, Retail Brands, Food Manufacturers',
  `ind1_btn_text` varchar(100) DEFAULT 'Explore Export Commodities',
  `ind1_btn_link` varchar(255) DEFAULT 'product-arabica.php',
  `ind1_icon` varchar(255) DEFAULT 'assets/img/icons/industry-export.svg',
  `ind2_badge` varchar(100) DEFAULT 'Hospitality & Food Service',
  `ind2_title` varchar(255) DEFAULT 'HORECA Sector',
  `ind2_desc` text DEFAULT NULL,
  `ind2_clients` varchar(255) DEFAULT 'Hotels, Restaurants, Cafés, Caterers, Cloud Kitchens',
  `ind2_btn_text` varchar(100) DEFAULT 'Explore Foodservice Products',
  `ind2_btn_link` varchar(255) DEFAULT 'supply-coffee.php',
  `ind2_icon` varchar(255) DEFAULT 'assets/img/icons/industry-horeca.svg',
  `cta_subheading` varchar(255) DEFAULT 'Commercial Trade Desk',
  `cta_heading` varchar(255) DEFAULT 'Looking to Partner with a Dependable Indian Sourcing Company?',
  `cta_desc` text DEFAULT NULL,
  `cta_btn_text` varchar(100) DEFAULT 'Connect with Trade Desk',
  `cta_btn_link` varchar(255) DEFAULT 'contact.php',
  `cta_btn_action` varchar(50) DEFAULT 'link',
  `cta_bg_image` varchar(255) DEFAULT 'assets/img/commodities/shipping-logistics-port.jpg',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_about`
--

LOCK TABLES `tbl_about` WRITE;
/*!40000 ALTER TABLE `tbl_about` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_about` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_admin`
--

DROP TABLE IF EXISTS `tbl_admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_admin` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL DEFAULT 'Admin',
  `username` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `image` varchar(200) NOT NULL DEFAULT 'logo.svg',
  `last_login` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_admin`
--

LOCK TABLES `tbl_admin` WRITE;
/*!40000 ALTER TABLE `tbl_admin` DISABLE KEYS */;
INSERT INTO `tbl_admin` VALUES (1,'Antara Admin','admin','0192023a7bbd73250516f069df18b500','trade@antaraglobale.com','antara-logo-dark.svg','2026-09-04 06:54:34');
/*!40000 ALTER TABLE `tbl_admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_blogs`
--

DROP TABLE IF EXISTS `tbl_blogs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_blogs` (
  `b_id` int(11) NOT NULL AUTO_INCREMENT,
  `b_title` varchar(255) NOT NULL,
  `b_url` varchar(255) NOT NULL,
  `b_category` varchar(100) DEFAULT 'Export Insights',
  `author` varchar(100) DEFAULT 'Antara Trade Desk',
  `b_image` varchar(255) DEFAULT NULL,
  `broad_image` varchar(255) DEFAULT NULL,
  `b_short_desc` text DEFAULT NULL,
  `b_description` longtext DEFAULT NULL,
  `b_quote` text DEFAULT NULL,
  `b_quote_author` varchar(150) DEFAULT NULL,
  `b_tags` varchar(255) DEFAULT 'Commodities, Export, Quality QA',
  `read_time` varchar(50) DEFAULT '5 min read',
  `b_date` date DEFAULT NULL,
  `b_status` tinyint(1) DEFAULT 1,
  `b_sort` int(11) DEFAULT 0,
  `metatag` text DEFAULT NULL,
  `metakeyword` text DEFAULT NULL,
  `metadesc` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`b_id`),
  UNIQUE KEY `b_url` (`b_url`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_blogs`
--

LOCK TABLES `tbl_blogs` WRITE;
/*!40000 ALTER TABLE `tbl_blogs` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_blogs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_category`
--

DROP TABLE IF EXISTS `tbl_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_category` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `division` enum('export','horeca') NOT NULL DEFAULT 'horeca',
  `title` varchar(200) NOT NULL,
  `keyword` varchar(200) NOT NULL,
  `metadesc` text NOT NULL,
  `sort` int(11) NOT NULL DEFAULT 0,
  `image` varchar(255) NOT NULL,
  `desc` text NOT NULL,
  `status` int(11) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_category`
--

LOCK TABLES `tbl_category` WRITE;
/*!40000 ALTER TABLE `tbl_category` DISABLE KEYS */;
INSERT INTO `tbl_category` VALUES (1,'Export Agricultural Commodities','export-commodities','export','Bulk Indian Agricultural Export','','',1,'assets/img/commodities/hero-export-banner.jpg','Direct-from-origin export commodities including Coffee Beans, Bulk Teas, and Malabar Spices.',1),(2,'Restaurant & Caf?? Supplies','restaurant-cafe-supplies','horeca','Commercial Hospitality & HORECA Supply','','',2,'assets/img/commodities/hero-coffee-beans-banner.jpg','Comprehensive foodservice solutions across 8 essential categories for caf??s, restaurants, and hotels.',1);
/*!40000 ALTER TABLE `tbl_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_contact`
--

DROP TABLE IF EXISTS `tbl_contact`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_contact` (
  `con_id` int(11) NOT NULL AUTO_INCREMENT,
  `con_phone1` varchar(100) NOT NULL DEFAULT '+91 98765 43210',
  `con_phone2` varchar(100) NOT NULL DEFAULT '+91 91234 56789',
  `con_email1` varchar(100) NOT NULL DEFAULT 'trade@antaraglobale.com',
  `con_email2` varchar(100) NOT NULL DEFAULT 'exports@antaraglobale.com',
  `con_address` text NOT NULL,
  `con_detail` text NOT NULL,
  `con_sla_notice` varchar(255) DEFAULT '24-Hour Commercial Quote SLA',
  `con_hours` varchar(255) DEFAULT 'Mon - Sat: 9:00 AM - 7:00 PM IST',
  `con_map` text NOT NULL,
  `con_facebook` text NOT NULL,
  `con_instagram` text NOT NULL,
  `con_skype` text NOT NULL,
  `con_linkedin` text NOT NULL,
  `con_twitter` text NOT NULL,
  `con_youtube` text NOT NULL,
  `con_google` text NOT NULL,
  `con_whatsaap` varchar(255) NOT NULL DEFAULT '+919876543210',
  `widget_call_status` tinyint(1) DEFAULT 1,
  `widget_call_phone` varchar(100) DEFAULT '+91 98765 43210',
  `widget_call_position` varchar(20) DEFAULT 'left',
  `widget_call_tooltip` varchar(255) DEFAULT 'Call Us',
  `widget_wa_status` tinyint(1) DEFAULT 1,
  `widget_wa_number` varchar(100) DEFAULT '+919876543210',
  `widget_wa_position` varchar(20) DEFAULT 'right',
  `widget_wa_message` text DEFAULT 'Hello Antara Globale, I am interested in commodity sourcing & trade inquiries.',
  `widget_wa_tooltip` varchar(255) DEFAULT 'Chat on WhatsApp',
  PRIMARY KEY (`con_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_contact`
--

LOCK TABLES `tbl_contact` WRITE;
/*!40000 ALTER TABLE `tbl_contact` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_contact` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_enquiry`
--

DROP TABLE IF EXISTS `tbl_enquiry`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_enquiry` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `full_name` varchar(255) NOT NULL,
  `company_name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `phone` varchar(100) NOT NULL,
  `country` varchar(100) NOT NULL DEFAULT 'India',
  `division` enum('export','horeca') NOT NULL DEFAULT 'horeca',
  `product_interest` varchar(255) NOT NULL,
  `volume_requirement` varchar(255) NOT NULL,
  `message` text NOT NULL,
  `status` enum('pending','in_discussion','quoted','closed') NOT NULL DEFAULT 'pending',
  `notes` text DEFAULT NULL,
  `ip_address` varchar(100) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_enquiry`
--

LOCK TABLES `tbl_enquiry` WRITE;
/*!40000 ALTER TABLE `tbl_enquiry` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_enquiry` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_hero_slides`
--

DROP TABLE IF EXISTS `tbl_hero_slides`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_hero_slides` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `badge_text` varchar(255) NOT NULL,
  `title` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `btn1_text` varchar(100) DEFAULT 'Request Trade Quote',
  `btn1_link` varchar(255) DEFAULT '#b2bEnquiryModal',
  `btn2_text` varchar(100) DEFAULT 'Export Commodities',
  `btn2_link` varchar(255) DEFAULT 'products.php?division=export',
  `image` varchar(255) NOT NULL,
  `sort_order` int(11) DEFAULT 0,
  `status` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_hero_slides`
--

LOCK TABLES `tbl_hero_slides` WRITE;
/*!40000 ALTER TABLE `tbl_hero_slides` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_hero_slides` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_home_content`
--

DROP TABLE IF EXISTS `tbl_home_content`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_home_content` (
  `id` int(11) NOT NULL,
  `hero_badge_1` varchar(255) NOT NULL DEFAULT 'DIRECT ORIGIN COMMODITY EXPORT & B2B FOODSERVICE SUPPLY',
  `hero_title_1` varchar(255) NOT NULL DEFAULT 'Indian Agricultural Commodities & Foodservice Supplies',
  `hero_desc_1` text NOT NULL,
  `hero_btn1_text_1` varchar(100) NOT NULL DEFAULT 'Request Trade Quote',
  `hero_btn1_link_1` varchar(255) NOT NULL DEFAULT '#b2bEnquiryModal',
  `hero_btn2_text_1` varchar(100) NOT NULL DEFAULT 'Export Commodities',
  `hero_btn2_link_1` varchar(255) NOT NULL DEFAULT 'product-arabica.php',
  `hero_btn3_text_1` varchar(100) NOT NULL DEFAULT 'Restaurant & Café Supply',
  `hero_btn3_link_1` varchar(255) NOT NULL DEFAULT 'supply-coffee.php',
  `hero_image_1` varchar(255) NOT NULL DEFAULT 'assets/img/commodities/hero-export-banner.jpg',
  `hero_badge_2` varchar(255) NOT NULL DEFAULT 'BULK AGRO COMMODITY EXPORT TO 30+ GLOBAL PORTS',
  `hero_title_2` varchar(255) NOT NULL DEFAULT 'Single-Origin Teas, Malabar Pepper & High-Curcumin Turmeric',
  `hero_desc_2` text NOT NULL,
  `hero_btn1_text_2` varchar(100) NOT NULL DEFAULT 'Request Trade Quote',
  `hero_btn1_link_2` varchar(255) NOT NULL DEFAULT '#b2bEnquiryModal',
  `hero_btn2_text_2` varchar(100) NOT NULL DEFAULT 'Explore Export Commodities',
  `hero_btn2_link_2` varchar(255) NOT NULL DEFAULT 'product-arabica.php',
  `hero_image_2` varchar(255) NOT NULL DEFAULT 'assets/img/commodities/hero-tea-gardens.jpg',
  `about_subheading` varchar(255) NOT NULL DEFAULT 'Direct Farm-Gate & Estate Sourcing Network',
  `about_heading` varchar(255) NOT NULL DEFAULT 'Indian Origin Procurement & Export Logistics',
  `about_content` longtext NOT NULL,
  `about_badge_title` varchar(255) DEFAULT 'Sourcing & Trading Desk',
  `about_badge_exp` varchar(255) DEFAULT '15+ Years Origin Experience',
  `about_stat_vol` varchar(100) DEFAULT '500+ MT',
  `about_stat_ports` varchar(100) DEFAULT '18+',
  `about_point_1` varchar(255) NOT NULL DEFAULT 'Direct farm-gate and estate procurement avoiding multi-tier middleman inflation.',
  `about_point_2` varchar(255) NOT NULL DEFAULT 'Batch-tested origin verification with multi-wall hermetic GrainPro packing.',
  `about_point_3` varchar(255) NOT NULL DEFAULT 'Pan-India port logistics connectivity to Mangalore, Cochin, Chennai, and Nhava Sheva.',
  `about_exp_years` varchar(50) NOT NULL DEFAULT '15+',
  `about_ports_count` varchar(50) NOT NULL DEFAULT '30+',
  `about_image` varchar(255) NOT NULL DEFAULT 'assets/img/commodities/hero-coffee-beans-banner.jpg',
  `pillar1_title` varchar(255) NOT NULL DEFAULT 'Direct Origin Procurement',
  `pillar1_desc` text NOT NULL,
  `pillar1_icon` varchar(100) NOT NULL DEFAULT 'fa-solid fa-seedling',
  `pillar1_image` varchar(255) DEFAULT '',
  `pillar2_title` varchar(255) NOT NULL DEFAULT 'Strict Quality Assurance',
  `pillar2_desc` text NOT NULL,
  `pillar2_icon` varchar(100) NOT NULL DEFAULT 'fa-solid fa-microscope',
  `pillar2_image` varchar(255) DEFAULT '',
  `pillar3_title` varchar(255) NOT NULL DEFAULT 'Export Packaging & Logistics',
  `pillar3_desc` text NOT NULL,
  `pillar3_icon` varchar(100) NOT NULL DEFAULT 'fa-solid fa-box-archive',
  `pillar3_image` varchar(255) DEFAULT '',
  `pillar4_title` varchar(255) NOT NULL DEFAULT 'Responsive Commercial SLA',
  `pillar4_desc` text NOT NULL,
  `pillar4_icon` varchar(100) NOT NULL DEFAULT 'fa-solid fa-headset',
  `pillar4_image` varchar(255) DEFAULT '',
  `terroir_subheading` varchar(255) NOT NULL DEFAULT 'Indian Agricultural Terroir',
  `terroir_heading` varchar(255) NOT NULL DEFAULT 'Prime Sourcing Belts Across India',
  `terroir_desc` text NOT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `choose_subheading` varchar(255) DEFAULT 'Export Advantages',
  `choose_heading` varchar(255) DEFAULT 'Why International Buyers Choose Antara Globale',
  `choose_desc` text DEFAULT NULL,
  `choose_image` varchar(255) DEFAULT 'assets/img/commodities/hero-spices-export.jpg',
  `choose_badge_title` varchar(255) DEFAULT '100% Export Grade',
  `choose_badge_desc` varchar(255) DEFAULT 'Direct Farmgate to Seaport',
  `choose_btn1_text` varchar(100) DEFAULT 'Request Specifications & Quote',
  `choose_btn1_link` varchar(255) DEFAULT '#b2bEnquiryModal',
  `choose_btn2_text` varchar(100) DEFAULT 'About Company',
  `choose_btn2_link` varchar(255) DEFAULT 'about.php',
  `choose_card1_title` varchar(255) DEFAULT 'Direct Origin Procurement',
  `choose_card1_desc` text DEFAULT NULL,
  `choose_card1_icon` varchar(255) DEFAULT 'assets/img/icons/pillar-1-origin.svg',
  `choose_card2_title` varchar(255) DEFAULT 'Strict Quality Assurance',
  `choose_card2_desc` text DEFAULT NULL,
  `choose_card2_icon` varchar(255) DEFAULT 'assets/img/icons/pillar-2-quality.svg',
  `choose_card3_title` varchar(255) DEFAULT 'Export Packaging & Logistics',
  `choose_card3_desc` text DEFAULT NULL,
  `choose_card3_icon` varchar(255) DEFAULT 'assets/img/icons/pillar-3-logistics.svg',
  `choose_card4_title` varchar(255) DEFAULT 'Responsive Commercial SLA',
  `choose_card4_desc` text DEFAULT NULL,
  `choose_card4_icon` varchar(255) DEFAULT 'assets/img/icons/pillar-4-support.svg',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_home_content`
--

LOCK TABLES `tbl_home_content` WRITE;
/*!40000 ALTER TABLE `tbl_home_content` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_home_content` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_product`
--

DROP TABLE IF EXISTS `tbl_product`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_product` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `category_id` int(11) NOT NULL,
  `division` enum('export','horeca') NOT NULL DEFAULT 'horeca',
  `name` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `tagline` varchar(255) NOT NULL,
  `description` text NOT NULL,
  `image` varchar(255) NOT NULL,
  `banner_image` varchar(255) NOT NULL,
  `available_varieties` text NOT NULL,
  `brands` varchar(255) NOT NULL DEFAULT 'Antara Globale Sourced',
  `specifications` text NOT NULL,
  `packaging` varchar(255) NOT NULL,
  `moq` varchar(100) NOT NULL,
  `applications` text NOT NULL,
  `sort` int(11) NOT NULL DEFAULT 0,
  `is_featured` tinyint(1) NOT NULL DEFAULT 1,
  `status` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `badge1_title` varchar(255) DEFAULT 'Batch Verified',
  `badge1_desc` varchar(255) DEFAULT 'Strict QA check on moisture, grading & packaging.',
  `badge2_title` varchar(255) DEFAULT 'Dependable Logistics',
  `badge2_desc` varchar(255) DEFAULT 'Timely port freight & domestic dispatch.',
  `badge3_title` varchar(255) DEFAULT 'Commercial Pricing',
  `badge3_desc` varchar(255) DEFAULT 'Competitive volume rates for long-term partners.',
  `badge1_icon` varchar(255) DEFAULT 'assets/img/icons/pillar-2-quality.svg',
  `badge2_icon` varchar(255) DEFAULT 'assets/img/icons/pillar-3-logistics.svg',
  `badge3_icon` varchar(255) DEFAULT 'assets/img/icons/partnership-trust.svg',
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_product`
--

LOCK TABLES `tbl_product` WRITE;
/*!40000 ALTER TABLE `tbl_product` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_product` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_profile`
--

DROP TABLE IF EXISTS `tbl_profile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_profile` (
  `pro_id` int(11) NOT NULL AUTO_INCREMENT,
  `pro_logo` varchar(255) NOT NULL DEFAULT 'antara-logo-white.svg',
  `pro_dark_logo` varchar(255) NOT NULL DEFAULT 'antara-logo-dark.svg',
  `pro_favicon` varchar(255) NOT NULL DEFAULT 'favicon.svg',
  `pro_title` text NOT NULL,
  `pro_keyword` text NOT NULL,
  `pro_detail` text NOT NULL,
  `pro_footer_desc` text DEFAULT NULL,
  `pro_copyright` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`pro_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_profile`
--

LOCK TABLES `tbl_profile` WRITE;
/*!40000 ALTER TABLE `tbl_profile` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_profile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_terroir_belts`
--

DROP TABLE IF EXISTS `tbl_terroir_belts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_terroir_belts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `badge` varchar(100) NOT NULL DEFAULT '',
  `title` varchar(255) NOT NULL DEFAULT '',
  `description` text DEFAULT NULL,
  `tags` varchar(255) NOT NULL DEFAULT '',
  `image` varchar(255) NOT NULL DEFAULT '',
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `status` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_terroir_belts`
--

LOCK TABLES `tbl_terroir_belts` WRITE;
/*!40000 ALTER TABLE `tbl_terroir_belts` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_terroir_belts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_testimonial`
--

DROP TABLE IF EXISTS `tbl_testimonial`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_testimonial` (
  `tt_id` int(11) NOT NULL AUTO_INCREMENT,
  `tt_name` varchar(255) NOT NULL,
  `tt_location` varchar(255) NOT NULL,
  `tt_rating` int(1) NOT NULL DEFAULT 5,
  `tt_detail` text NOT NULL,
  `tt_image` varchar(255) NOT NULL,
  `tt_status` int(11) NOT NULL DEFAULT 1,
  `tt_sort` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`tt_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_testimonial`
--

LOCK TABLES `tbl_testimonial` WRITE;
/*!40000 ALTER TABLE `tbl_testimonial` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_testimonial` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-08 10:49:33
